.counter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.counter button {
  background-color: #fdb913;
  color: white;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

.counter span {
  font-weight: bold;
}
